@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A sample app with automated tests used to test GitBug Actions</p>
</div>

<div>
    <h3><label><b>@Model.HelloMessage</b></label></h3>
    <h2><label><b>@Model.ExceptionMessage</b></label></h2>
</div>
